bin/FeedParser
bin/Test
bin/PodcastPackager
bin/Transfer
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
Makefile
settings.json
*.mp3
previous_episodes.txt
